[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ahptopsis2n"]
	path = ahptopsis2n
	url = https://github.com/cran/ahptopsis2n
[submodule "sapevom"]
	path = sapevom
	url = https://github.com/cran/sapevom
